body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-family: sans-serif;
}

/*Login css*/

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5%;
  border-style: solid;
  border-color: #000000;
}

h2 {
  text-align: center;
  font-size: 8px;
  font-weight: 600;
  /* text-transform: uppercase; */
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #000000;
}

p {
  text-align: center;
}

h5 {
  text-align: center;
  color: #09b1a8;
}

.login-content {
  width: 95%;
  margin-top: 15%;
}

.btn-primary:active {
  outline: thin;
}
