body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-family: sans-serif;
}

/*Login css*/

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5%;
  border-style: solid;
  border-color: #000000;
}

h2 {
  text-align: center;
  font-size: 8px;
  font-weight: 600;
  /* text-transform: uppercase; */
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #000000;
}

.card-header p {
  text-align: center;
}

h5 {
  text-align: center;
  color: #09b1a8;
}

.login-content {
  width: 95%;
  margin-top: 15%;
}

.btn-primary:active {
  outline: thin;
}

/*question css*/
.question-card {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 3%;
}

.btn-active {
  color: #09b1a8;
  box-shadow: none;
}

.avatar {
  height: 61px;
  margin-right: 20px;
}

/*Nav css*/
.nav-avator {
  height: 40px;
}

hr {
  display: block;
  border-color: #09b1a8;
  margin: 1em 0;
}

.nav-link {
  color: #09b1a8;
  text-decoration: none;
}

.questions-container {
  margin-left: auto;
  margin-right: auto;
  border-color: #ebf1f7;
  border-style: solid;
}

.nav-tabs .nav-link {
  width: 200px;
  color: #09b1a8;
}
